extends layout

block content
  br
  
  .jumbotron
    .d-flex.justify-content-center
      h1 Gratulacje!
    br
    p Utworzyłeś wniosek o kurs poprawkowy o nazwie #[strong #{congratsData.courseName}], na rocznik #[strong #{congratsData.courseYear}]  
    p Nowy kurs pojawił się w bazie danych
      
    .d-flex.justify-content-center
      button.btn.btn-lg.btn-outline-primary(onClick="goToHomePage();") Wróc do strony głównej
