doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		script(src='/tether/tether.min.js')
		script(src='/jquery/jquery.min.js')
		script(src='/js/bootstrap.min.js')
		script(src='/javascripts/all.js')
		block header

		header
			.navbar.navbar-toggleable-md.navbar-light.bg-faded
				div.d-inline-block
					img(src="../images/pwr_logo.jpg" width="60px" height="60px").img
					a(href="/").navbar-brand SOKPPwr
				button(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" ).btn.btn-lg.navbar-toggler.navbar-toggler-right
					span.navbar-toggler-icon

				div(id="navbarNavAltMarkup").collapse.navbar-collapse
					ul.navbar-nav.mr-auto
						li(href="#").vertical-align.mr-4
							a(href="#").nav-link Moje sprawy
							span.sr-only (current)
						li.vertical-align.mr-4
							a(href="#").nav-link Aktualności
						li.vertical-align.mr-4
							a(href="#").nav-link
								img(src="../images/news.png"  width="40px" height="40px")
						li.vertical-align.mr-4
							a(href="#").nav-link
								img(src="../images/post.png" width="50px" height="50px")
					ul.navbar-nav.navbar-right
						li.vertical-align.mr-4
							h6 Anna Nowak
						li.vertical-align.mr-4
							a(href="#").nav-link
								img(src="../images/user_photo.png"  width="50px" height="50px")


	body
		block content
	hr
	footer.footer
		.container
			p.text-muted.cursive Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae velit neque. Ut rutrum sapien mi, eu iaculis nibh pharetra ac. Cras lobortis ipsum purus, sit amet dignissim turpis congue a. Aenean venenatis auctor augue, a hendrerit libero interdum ac. Nullam semper justo dolor, ut suscipit massa venenatis vitae. Suspendisse potenti. Aliquam tempus consequat nunc sit amet tempus. Pellentesque non vestibulum nisl. Ut dolor urna, pulvinar quis euismod in, mollis et magna. Morbi eu lacus quis orci ornare vulputate sit amet quis massa.Proin auctor tempus tincidunt. Aliquam diam ex, facilisis sed mi sed, porta congue velit. Sed placerat, lacus eget volutpat porttitor, nisl arcu posuere massa, tempus egestas mi tortor vitae ipsum. Morbi tristique suscipit justo ut porttitor. Phasellus eu orci dignissim, suscipit nibh a, pellentesque velit. Donec molestie, metus id sollicitudin finibus, ex nisl facilisis ante, in volutpat nisi velit et tortor. Duis sodales enim sit amet nisl dignissim viverra.
