extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Sign Up

        // register form
        form(method='POST' action='/second_add')
          div.form-group
            label(for='price') Price:
            input#price.form-control(type='text', placeholder='100 zl' name='price')
          
          button.btn.btn-primary(type='submit') Add product
