extends layout

block content
  .main.container
    .row.vertical-align
      .col.col-md-2
        p.prev-button(onClick="goBack()")
        
      .col-md-8
        br
        h1.display-5.m-b-2 Utwórz nowy wniosek 2/3
        .row.my-jumbotron
          .col-md-8
            form(method='POST' action='/second_add')
              div.form-group
                label(for='teacherSurname') Nazwisko prowadzącego:
                input.form-control(type='text', placeholder='Kowalska-Nowak' name="teacherSurname" id="teacherSurname")
              div.form-group
                label(for='teacherName') Imię prowadzącego:
                input.form-control(type='text', placeholder='Anna' name="teacherName" id="teacherName")
              br
              div.form-group
                label(for='courseCounselorSurname') Nazwisko opiekuna kursu:
                input.form-control(type='text', placeholder='Romanowski' name="courseCounselorSurname" id="courseCounselorSurname" )
              div.form-group
                label(for='courseCounselorName') Imię opiekuna kursu:
                input.form-control(type='text', placeholder='Jan' name="courseCounselorName" id="courseCounselorName")            
              input(type='submit' id='submit-form').invisible
          .col-md-4
            .teacherAllowance
              svg(width="150" height="150").svgCheckContainer1
                path(id="check" d="M10,50 l25,40 l95,-70")
              p(id="teacherAllowanceInfo") Brak zgody prowadzącego! Możesz kontynuowć, jednak opcja wysłania wniosku będzie zablokowana
            .teacherAllowance
              svg(width="150" height="150").svgCheckContainer2
                path(id="check1" d="M10,50 l25,40 l95,-70")
              p(id="counselorAllowanceInfo") Brak zgody opiekuna kursu! Możesz kontynuowć, jednak opcja wysłania wniosku będzie zablokowana
      .col.col-md-2
        label(for='submit-form').next-button
  
  script.
    var teacherId;
    document.onreadystatechange = () => {
      if (document.readyState === 'complete') {
            $("input").focusout(function(){
              findTeacher();
              checkCourseCounselor();
            })         
          }          
          
      }
    
    function findTeacher() {
        var teacherName = document.getElementById("teacherName");
        var teacherSurame = document.getElementById("teacherSurame");
        var inquiries = !{(inquiries)};
        var teacherFound = false;
        if(teacherName.value !== '' && teacherSurname.value !== '') {
          for (var i = 0 ; i < inquiries.length && !teacherFound; i++) { 
              if(inquiries[i].ImieProwadzacego == teacherName.value && inquiries[i].NazwiskoProwadzacego == teacherSurname.value && inquiries[i].ZgodaProwadzacego == 1) {
                teacherValid();
                teacherFound = true;                
              }
              else {
                teacherNotValid();
                teacherFound = false; 
              }
          } 
          
      }
    }
    
    function teacherValid() {
      $("#teacherAllowanceInfo").css("display", "none");
      $(".svgCheckContainer1").css("display", "flex");
      $("#check").css("animation", "draw 2s 1 ease forwards");
      $("#teacherName").css("border-color", "green");
      $("#teacherSurname").css("border-color", "green");
    }
    function teacherNotValid() {
      $("#teacherAllowanceInfo").css("display", "block");
      $(".svgCheckContainer1").css("display", "none");
      $("#teacherName").css("border-color", "");
      $("#teacherSurname").css("border-color", "");
    }
    
    //* TO-DO disable option of writing course counselor, just check if student has his permission
    function checkCourseCounselor() {
        var courseCounselorName = document.getElementById("courseCounselorName");
        var courseCounselorSurame = document.getElementById("courseCounselorSurame");
        var inquiries= !{(inquiries)};
        if(courseCounselorName.value !== '' && courseCounselorSurname.value !== '') {
          for (var i = 0 ; i < inquiries.length; i++) { 
              if(inquiries[i].ImieOpiekuna == courseCounselorName.value && inquiries[i].NazwiskoOpiekuna == courseCounselorSurname.value && inquiries[i].ZgodaOpiekuna == 1) {
                $("#counselorAllowanceInfo").css("display", "none");
                $(".svgCheckContainer2").css("display", "flex");
                $("#check1").css("animation", "draw 2s 1 ease forwards");
                $("#courseCounselorName").css("border-color", "green");
                $("#courseCounselorSurname").css("border-color", "green");
                break;
              }
              else {
                $("#counselorAllowanceInfo").css("display", "block");
                $(".svgCheckContainer2").css("display", "none");
                $("#courseCounselorName").css("border-color", "");
                $("#courseCounselorSurname").css("border-color", "");
              }
          } 
          
        }
    }
